.App-header {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
}

hr { 
    width: 95vw;
    margin-left: calc((95vw - 100%) / -2);
    margin-right: calc((95vw - 100%) / -2);
    border: 5px solid #2A6B5C;
    border-top: 1px;
    border-radius: 7px 7px 7px 7px;
}

body {
    background-color: #FBF9F5;
}

.whitespace {   
    top: 50%;
    align-items: center;
    height: 37px;
    width: 250px;
    background-color: #2A6B5C;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #D8C9A8;
}

.whitespace2 {
    margin-top: 130px;
    text-decoration: none;
    color:#3C3836;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

input {
    background: transparent;
    border: transparent;
    color: #D8C9A8;
    width: 180px;
    border-radius: 15px 15px 15px 15px;
}

button {
    background-color: #D8C9A8;
    border: transparent;
    color: #3C3836;
    border-radius: 7px 7px 7px 7px;
}

.forside {
    margin-right: 100px;
    text-decoration: none;
    color: #2A6B5C;
    display: inline-block;
    transition: transform 0.3s ease;
}

.forside:hover {
    transform: scale(1.2);
}

.arkitekter {
    text-decoration: none;
    color: #2A6B5C;
    display: inline-block;
    transition: transform 0.3s ease;
}

.arkitekter:hover {
    transform: scale(1.2);
}

.the-shard {
    margin-right: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.eiffel-tower {
    margin-top: -120px;
    margin-right: 1000px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.maria-pia {
    margin-top: 200px;
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.column {
  float: left;
  width: 23%;
  padding: 5px;
}

