{% extends "base.html" %} 
{% block title %}{{ data['name'] }}{% endblock %} 

{% block content %}
<body style="color: #3C3836; overflow-y: scroll;">
    
        <h1>{{ data['name'] }}</h1>

        <p><strong>Nationalitet:</strong> {{ data['nationality'] }}</p>
        <p><strong>Fødselsår:</strong> {{ data['birth'] }}</p>

        {% if data['death'] %}
            <p><strong>Dødsår:</strong> {{ data['death'] }} (Alder: {{ data['age'] }} år)</p>
        {% else %}
            <p><strong>Status:</strong> Nuværende alder er ikke angivet (Arkitekt er <i>nulevende</i>)</p>
        {% endif %}

        {% if data['portrait'] %}
            <p><strong>Portræt:</strong></p> 
            <p><img src="{{ data['portrait'] }}" alt="Portræt af {{ data['name'] }}" style="max-width: 300px;"></p>
        {% else %}
            <p><strong>Portræt:</strong> Intet billede tilgængeligt</p>
        {% endif %}

</body>
{% endblock %}