<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}My webserver{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <div class="App">
      <header class="App-header">
        <nav class="menu">

          <div class="block_1"></div> <hr/>

          <div class="seperate-menu">
            <a href="/" class="forside">Forside</a>
            <a href="/architects" class="arkitekter">Arkitekter</a>
            <a href="/dokumentationside" class="dokument">Dokumentationside</a>
          </div>

        </nav>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>