{% extends "base.html" %} 
{% block title %}{% endblock %} 

{% block content %}

<body style= "overflow-y: scroll;">

    <p>Anvendte teknologier til kreation af webserver:</p>

    <div style="white-space: pre-line; text-align: center;">
    <b>Flask</b>
    Flask er et biblioteket indbygget i Python, og giver værktøjerne til at opsætte en webserver.
    Det er super nemt at gå til, fordi Flask er perfekt til hurtigt at teste en ide eller bygge en simpel prototype.

    <b>Sqlite3</b>
    Dette er et indbygget bibliotek, der kan bruges til at opsætte databaser, som ligger i en enkelt fil.
    Lidt ligesom Flask, er det perfekt til mindre webservere, hvor databasen kan bruges til test.

    <b>Python</b>
    Python er et meget populært programmeringssprog, der er bygget på programmeringssproget C.
    Det kan bruges til en masse forskellige formål, men er virkelig god til dataanalyse og kunstig intelligens.
    Fordi det er så kendt, er det meget fleksibelt, og virker på mange forskellige styresystemer.
    Dermed bliver det oftest brugt af nybegyndere, fordi det minder om naturligt sprog - dette kaldes 
    (højniveau sprog), der betyder, at der ikke skrives maskinekode, eller er langt væk.

    <b>Jinja2</b>
    Et template format, som biblioteket Flask bruger. Det kan bruges til at have "for loop" i html og "if statement". 
    Dermed også components, som er en fil der kan bruges flere steder. Det kan gøres ud fra variabler.
    
    <b>CSS</b>
    CSS (Cascading Style Sheets) er et kodesprog, der bruges til at bestemme udseendet, designet og layoutet af websider, som er skrevet i HTML.

    <b>HTML</b>
    HTML (HyperText Markup Language) er det grundlæggende opmærkningssprog, der bruges til at oprette og strukturere indhold på.
    


    </div>

</body>

{% endblock %}